Repository minhkhoidao/ecommerce: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint, npm run prettier, eslint, npx prettier . --write

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["npm run lint", "npm run prettier", "eslint"],
    "*.json": ["npx prettier . --write"]
  }

init project
  .lintstagedrc.json
Due: npx prettier . --write

init project
  .lintstagedrc.json
  .prettierrc
  commitlint.config.js
  nodemon.json
  src/server.ts
  tsconfig.json
Due: npm run lint, npm run prettier, eslint, npx prettier . --write

feat(init): init project and init type check
  .eslintignore
  .lintstagedrc.json
  package-lock.json
  package.json
Due: npx prettier . --write

feat(init): test commit
  package.json
  src/server.ts
Due: npm run lint, npm run prettier, eslint, npx prettier . --write

feat(init): remove nodemon
  nodemon.json
  package.json
Due: npx prettier . --write

feat(db): setup mongodb and check connection mongodb
  .prettierrc
  commitlint.config.cjs
  package-lock.json
  package.json
  src/configs/mongo.ts
  src/controllers/.keepfile
  src/helpers/checkConnect.ts
  src/helpers/checkOverload.ts
  src/model/.keepfile
  src/routes/.keepfile
  src/server.ts
  src/services/.keepfile
  src/utils/.keepfile
Due: npm run lint, npm run prettier, eslint, npx prettier . --write

feat(db): setup mongodb and check connection mongodb
  commitlint.config.cjs
Due: none

Create node.js.yml
  .github/workflows/node.js.yml
Due: none

husky
  .github/workflows/node.js.yml
  .husky/pre-commit
  package.json
Due: npx prettier . --write

feat: implement route register, refactor code
  .env.example
  .eslintrc
  .gitignore
  .husky/commit-msg
  .prettierrc
  package-lock.json
  package.json
  src/configs/config.ts
  src/configs/mongo.ts
  src/controllers/.keepfile
  src/controllers/auth.controller.ts
  src/model/.keepfile
  src/models/shop.model.ts
  src/routes/.keepfile
  src/routes/auth.route.ts
  src/server.ts
  tsconfig.json
Due: npm run lint, npm run prettier, eslint, npx prettier . --write

fix: remove npm test command
  .github/workflows/node.js.yml
Due: none

feat: add service auth
  src/constant/index.ts
  src/entities/auth.entity.ts
  src/repositories/auth.repository.ts
  src/services/auth.service.ts
Due: npm run lint, npm run prettier, eslint

feat: change version of express and typescript
  package-lock.json
  package.json
  src/configs/mongo.ts
  src/routes/auth.route.ts
  src/server.ts
  src/services/.keepfile
  tsconfig.json
Due: npm run lint, npm run prettier, eslint, npx prettier . --write

feat: change module to nodenext
  package-lock.json
  package.json
  tsconfig.json
Due: npx prettier . --write

feat: change module to nodenext
  package-lock.json
  package.json
Due: npx prettier . --write

feat: implement jwt token to authen
  .eslintrc
  .lintstagedrc.json
  .prettierignore
  package-lock.json
  package.json
  src/controllers/auth.controller.ts
  src/entities/auth.entity.ts
  src/entities/token.entity.ts
  src/models/shop.model.ts
  src/models/token.model.ts
  src/repositories/auth.repository.ts
  src/repositories/token.repository.ts
  src/services/token.service.ts
  src/utils/.keepfile
  src/utils/generateToken.ts
Due: npm run lint, npm run prettier, eslint, npx prettier . --write
